*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0e141b;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    text-align: center;
}
.wrapper .column,
.wrapper .coln{
    display: inline-block;
    vertical-align: top;
    font-size: 86px;
    line-height: 86px;
    font-weight: 300;
    color:rgba(224, 230,235,0.89);   
}
.coln{
    transform: translateY(calc(50vh - 43px));
}
.column{
    transition: transform 300ms ease-in;
}
/*
    不同距离数值透明度不同
*/
.column .visible{
    text-shadow: 1px 1px 20px #369;
}
.column .close{
    opacity:0.35;
}
.column .far{
    opacity:0.15;
}
.column .distant{
    opacity:0.1;
}