*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #cfcfcf3b;
}
.shade{
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    width: 100%;
    background-color: #7B7B7B;
    opacity: 0.2;
    display: none;
}
.wrapper{
    width: 600px;
    height: 500px;
    /* 垂直居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -300px;
}
.wrapper h2{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #6c6c6c;
}
.wrapper .shareDame{
    margin: 20px auto;
    border-top: 2px dashed #cecece;
}
.wrapper .shareDame .sharebtn{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    border: 1px dashed #cfcfcf;
}
.wrapper .shareDame .shareBox{
    padding: 20px;
    z-index: 100;
    height: 150px;
    width: 380px;
    border-radius: 20px;
    background-color: #fff;
    margin: 0 auto;
}
.wrapper .shareDame .shareBox .shareBox-head{
    color: green;
    height: 30px;
    width: 380px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}
.wrapper .shareDame .shareBox .shareBox-head .closebtn{
    display: block;
    width: 30px;
    height: 30px;
    float: right;
    background: url('img/closeBtn.png') 0px 0px no-repeat;
}
.wrapper .shareDame .shareBox .shareContent{
    padding-top: 20px;
}
.wrapper .shareDame .shareBox .shareContent ul li{
    /* position: relative; */
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.shareContent ul li a {
    display: block;
    width: 28px;
    height: 28px;
    margin: 12px 0 0 12px;
    transition: all 0.3s ease-in-out;
} 

.wrapper .shareDame .shareBox .shareContent ul li span {
    width: 50px;
    height: 10px;
    display: block;
    /* border-radius: 50%;  */
    background: url(./share_shade.png) 0px 0px no-repeat;
}
.shareContent ul li .share1 {
    background: url('img/sharePic.png') 0px 0px no-repeat;
}
.shareContent ul li .share2 {
    background: url('img/sharePic.png') -28px 0px no-repeat;
} 
.shareContent ul li .share3 {
    background: url('img/sharePic.png') -56px 0px no-repeat;
} 
.shareContent ul li .share4 {
    background: url('img/weixin.png') -2px -2px no-repeat;
} 
.shareContent ul li .share5 {
    background: url('img/sharePic.png') -112px 0px no-repeat;
}  
.shareContent ul li .share6 {
    background: url('img/gitPic.png') 0px 0px no-repeat;
} 