<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>vue学习</title>
    <script src="./vue.js"></script>
</head>

<body>

    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="add">提交</button>
        <ul>
            <todo-item 
                v-for="(todo, index) in list"
                v-bind:content="todo"
                v-bind:index="index"
                @delete="deleteItem"
            >
            </todo-item>
        </ul>
    </div>

    <script>
        /**定义全局组件的方式**/
        // Vue.component('TodoItem', {
        //     props: ['content'],
        //     template: '<li>{{content}}</li>'
        // });
        /**定义局部组件的方式**/
        var TodoItem = {
            props: ['content','index'],
            template: '<li @click="handleItemClick">{{content}}</li>',
            methods: {
                handleItemClick: function () {
                    this.$emit("delete",this.index); //触发delete事件，并传递参数为this.itemIndex
                }
            }
        }

        var app = new Vue({
            el: '#app',
            components: {   //局部组件
                TodoItem: TodoItem,
            },
            data: {
                list: [],
                inputValue: ""
            },
            methods: {
                add: function () {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                },
                deleteItem: function(index) {
                    this.list.splice(index, 1); //删除数组中指点元素
                }
            }
        })

    </script>
</body>

</html>